.button {
  padding: 16px 55px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @bg_white;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  background: @basic_green;
  border: none;
  cursor: pointer;
}

.fields__button {
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.add-product__button {
  .pattern_button () ;
}

.head-block__button {
  margin: auto 20px;
  margin-top: 289px;
  padding: 11px;
  &:hover {
    background-color: @basic_green-dark;
  }
  &:active {
    color: @bg_white-lite;
  }
}

@media (min-width: @tablet-width) {
  .head-block__button {
    margin-top: 28px;
    z-index: 5;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 22px;
    margin-left: 82px;
  }
}

@media (min-width: @desktop-width) {
  .head-block__button {
    margin-top: 32px;
    width: 200px;
    height: 24px;
    padding: 15px 22px;
    margin-left: 81px;
  }
}
