.button {
  font-size: 14px;
  line-height: 18px;
}

.head-block__button {
  color: @bg_white;
  background-color: @basic_green;
}

.fields__button {
  background-color: @basic_green;
  border: none;
  font-size: 16px;
  line-height: 20px;
  color: @bg_white;
  text-transform: uppercase;
}
