.headline-block__headline {
  font-size: 36px;
  line-height: 36px;
  font-family: inherit;
  color: @black;
}

.catalog_list {
  list-style: none;
}

.catalog__item {
  margin-bottom: 25px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.catalog__subtitle {
  color: @dark_grey;
}

.product__options-cell {
  font-size: 12px;
  line-height: 16px;
  font-weight: inherit;
  font-family: "Arial", sans-serif;
}
