.add-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-family: inherit;
  color: @black;
}

.add-catalog__list {
  list-style: none;
}

.add-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: inherit;
  color: @special_dark-grey;
  text-transform: uppercase;
}

.add-product__option {
  font-size: 14px;
  line-height: 14px;
  font-weight: inherit;
  font-family: "Arial", sans-serif;
}

.add-catalog__promo-text {
  /* временный фон */
  background-color: @basic_green;
  color: @bg_white;
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
}

.gift_img {
  /* временный фон */
  background-color: @basic_green;
}
