.footer {
  background-color: @basic_grey;
  margin: 0;
  padding: 0;
}

.footer__developer {
  font-family: "Ariail", sans-serif;
  font-size: 16px;
  line-height: 18.4px;
  margin-right: 100px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 1220px;
  }
}

.footer__list {
  width: 130px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__developer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: inherit;
}
