.footer {
  background-color: @basic_grey;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
      padding-bottom: 50px;
    }
  }

.footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
      flex-direction: row;
      width: 768px;
    }

  @media (min-width: @desktop-width) {
      width: 1220px;
    }
  }

.footer__block--social {
  position: relative;
}

.footer__block--social::before {
  content: "";
  position: absolute;
  width: 280px;
  border-top: 1px solid @neutral_dark_grey;
  top: -11px;
  left: -71px;
}

.footer__block--social::after {
  content: "";
  position: absolute;
  width: 280px;
  border-top: 1px solid @neutral_dark_grey;
  bottom: -19px;
  left: -70px;
}

@media (min-width: @tablet-width) {
  .footer__block--social::before,
  .footer__block--social::after{
      border:none;
  }
}

.footer__list {
  width: 130px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-right: 8px;
  margin-top: 13px;
}

@media (min-width: @tablet-width) {
  .footer__list {
    width: 137px;
    margin-left: 150px;
    margin-top: 55px;
    text-align: center;

    .icon_vkontakte__image {
      width: 31px;
      margin-top: 3px;
      margin-left: 4px;
    }

    .icon_instagram__image {
      width: 23px;
      padding-left: 11px;
      margin-top: 4px;
    }

    .icon_facebook__image {
      width: 32px;
      margin-left: 4px;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer__list {
    width: 133px;
    margin-left: 146px;
    margin-right: 0px;
    margin-top: 55px;

    .icon_vkontakte__image {
      margin-top: 5px;
      margin-left: 1px;
    }
    .icon_instagram__image {
      margin-top: 6px;
    }
  }
}

.footer__developer {
  font-family: "Ariail", sans-serif;
  font-weight: inherit;
  font-size: 16px;
  line-height: 18.4px;
  margin-left: 5px;

  @media (min-width: @tablet-width) {
      margin-left: 123px;
    }

  @media (min-width: @desktop-width) {
      margin-left: 0px;
      padding-left: 124px;
    }
  }

.footer__developer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: inherit;
  padding: 0px;
  margin: 0px;

  @media (min-width: @tablet-width) {
      padding: 0px;
    }
  }

.footer__block--logo {
  padding: 39px;

  @media (min-width: @tablet-width) {
      padding: 0px;
      margin-top: 60px;
      margin-left: 30px;
    }

  @media (min-width: @desktop-width) {
      padding: 0px;
      margin-top: 63px;
      margin-left: 0px;
    }
  }

.footer__image {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
      width: 130px;
    }
  }

.footer__block--copyright {
    width: 294px;
    margin-top: 33px;

    @media (min-width: @tablet-width) {
        margin-top: 45px;
        margin-right: 23px;
      }

    @media (min-width: @desktop-width) {
        margin-top: 50px;
        margin-right: -8px;
      }
    }

    @media (min-width: @tablet-width) {
      .icon_academy__image {
        padding: 0px;
      }
    }
