.footer {
  background-color: @basic_grey;
}

.social-list__item {
  list-style: none;
}

.footer__developer {
  font-family: "Ariail", sans-serif;
  font-size: 16px;
  line-height: 18.4px;
}

.footer__developer-link {
  color: inherit;
}
