.title-block {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
      width: 708px;
    }

  @media (min-width: @desktop-width) {
      width: 1220px;
    }
  }

.title-block__title {
  margin-left: 20px;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  font-weight: inherit;
  position: relative;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-left: 40px;
      margin-top: 51px;
    }

  @media (min-width: @desktop-width) {
      margin-left: 2px;
      margin-top: 67px;
    }
  }

.title-block__title::before{
  width: 320px;
  position: absolute;
  content: "";
  border-top: 1px solid @neutral_dark_grey;
  top: -28px;
  left: -20px;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.title-block__text {
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: @black;
  font-weight: inherit;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-left: 40px;
      margin-top: 55px;
      margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
      margin-top: 57px;
      margin-left: 1px;
      margin-bottom: 65px;
    }
  }


