.title-block__title {
  font-size: 36px;
  line-height: 36px;
  color: @black;
  font-weight: inherit;
}

.title-block__text {
  font-size: 14px;
  line-height: 18px;
  color: @black;
  font-weight: inherit;
  text-transform: uppercase;
  margin-bottom: 39px;
}
