.head-block {
  margin-bottom: 22px;
  position: relative;

  @media (min-width: @tablet-width) {
      margin-bottom: 526px;
    }

  @media (min-width: @desktop-width) {
      margin-bottom: 267px;
    }
  }

  @media (min-width: @desktop-width) {
    .head-block::before {
      content: " ";
      width: calc(100%/2);
      height: 694px;
      background-image: url("../img/content/index_background_desktop.png");
      background-size: 720px auto;
      background-repeat: no-repeat;
      background-position: right bottom;
      position: absolute;
      top: -120px;
      right: -1px;
      z-index: -1;
    }
  }

@media (min-width: @desktop-width) {
  .head-block::after {
    content: " ";
    position: absolute;
    height: 694px;
    top: -120px;
    right: -1px;
    width: calc(100%/2);
    background-color: @special_green_gradient;
    z-index: 0;
  }
}

  .head-block__wrapper::after {
    content: " ";
    width: 320px;
    height: 302px;
    background-color: @special_green_gradient;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    @media (min-width: @tablet-width) {
        width: 0px;
        height: 0px;
      }
    }

.head-block__wrapper {
  width: 320px;
  margin: 0 auto;
  display: grid;
  position: relative;

  @media (min-width: @tablet-width) {
      width: 708px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      grid-template-columns: 50% 50%;
  }
}

.head-block__wrapper:before {
  content: " ";
  width: 280px;
  height: 270px;
  background: url("../img/content/index_mobile.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 167px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .head-block__wrapper:before {
  display: none;
}
}

.head-block__title {
  font-size: 36px;
  line-height: 36px;
  color: @bg_white;
  font-weight: inherit;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
      width: 414px;
      color: @black;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      margin-top: 49px;
      margin-left: 89px;
      margin-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
        margin-top: 103px;
        margin-left: 82px;
        margin-bottom: 40px;
      }
    }

.head-block_img--mobile {
    z-index: -1;
    position: absolute;

    @media (min-width: @tablet-width) {
      display: none;
  }
}

.head-block_img--tablet {
    display: none;
    @media (min-width: @tablet-width) {
      display: block;
      order: 1;
      z-index: -1;
      position: absolute;
      bottom: -525px;
      left: 0px;
  }

  @media (min-width: @desktop-width) {
    display: none;
}
}

.head-block_img--desktop {
  display: none;

@media (min-width: @desktop-width) {
      display: block;
      position: absolute;
      top: 21px;
      right: 219px;
      z-index: 1;
}
}

.head-block__text {
  font-size: 14px;
  line-height: 14px;
  color: @bg_white;
  text-transform: uppercase;
  font-weight: inherit;
  text-align: center;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
      color: @black;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      margin-left: 89px;
      margin-top: 0px;
    }

  @media (min-width: @desktop-width) {
      margin-left: 81px;
    }
  }
