.head-block {
  margin-bottom: 200px;
}

@media (min-width: @tablet-width) {
  .head-block {
    margin-bottom: 540px;
  }
}

@media (min-width: @desktop-width) {
  .head-block {
    margin-bottom: 354px;
  }
}

.head-block__wrapper {
  width: 320px;
  height: 302px;
  margin: 0 auto;
  display: grid;
  position: relative;
}

.head-block__wrapper::before {
  z-index: -1;
  content: " ";
  top: 0px;
  width: 320px;
  height: 302px;
  background: url("../img/content/index_background_mobile.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}

.head-block__wrapper::after {
  content: " ";
  width: 320px;
  height: 302px;
  background-color: @special_green_gradient;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .head-block__wrapper {
    width: 708px;
  }
}

@media (min-width: @tablet-width) {
  .head-block__wrapper::before {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .head-block__wrapper::after {
    width: 0px;
    height: 0px;
  }
}

@media (min-width: @desktop-width) {
  .head-block__wrapper {
    width: 1220px;
  }
}

@media (min-width: @desktop-width) {
  .head-block__wrapper::before {
    content: " ";
    display: block;
    position: absolute;
    top: -120px;
    left: 611px;
    width: 720px;
    height: 694px;
    background-image: url("../img/content/index_background_desktop.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .head-block__wrapper::after {
    content: " ";
    width: 720px;
    height: 694px;
    background-color: @special_green_gradient;
    position: absolute;
    top: -120px;
    left: 611px;
    z-index: -1;
  }
}

.head-block__title {
  font-size: 36px;
  line-height: 36px;
  color: @bg_white;
  font-weight: inherit;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;
  position: relative;
}

.head-block__title:before{
  content: " ";
  width: 280px;
  height: 270px;
  background: url("../img/content/index_mobile.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 140px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .head-block__title {
    width: 414px;
    color: @black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-top: 49px;
    margin-left: 87px;
    margin-bottom: 6px;
  }
}

@media (min-width: @tablet-width) {
  .head-block__title::before {
    content: " ";
    width: 708px;
    height: 609px;
    background: url("../img/content/index_tablet.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 201px;
    left: -89px;
  }
}

@media (min-width: @desktop-width) {
  .head-block__title {
    margin-top: 103px;
    margin-left: 82px;
  }
}

@media (min-width: @desktop-width) {
  .head-block__title::before {
    content: " ";
    width: 552px;
    height: 499px;
    background: url("../img/content/index_desktop.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -82px;
    left: 367px;
  }
}

.head-block__text {
  font-size: 14px;
  line-height: 14px;
  color: @bg_white;
  text-transform: uppercase;
  font-weight: inherit;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .head-block__text {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 88px;
    margin-top: 36px;
  }
}

@media (min-width: @desktop-width) {
  .head-block__text {
    margin-top: 34px;
    margin-left: 81px;
  }
}
