
.instruction__title {
  font-size: 36px;
  line-height: 40px;
  color: @black;
  font-weight: inherit;
}

.instruction__item {
  list-style: none;
  .base_font ();
}

.instruction__illustration {
  background-color: @basic_green;
  width: 60px;
  height: 60px;
}
