.cooperation__title {
  font-size: 16px;
  line-height: 18px;
  color: @dark_grey;
  font-weight: inherit;
  text-transform: uppercase;
  margin-right: 40px;
}

@media (min-width: @tablet-width) {
  .cooperation__title {
    margin-right: 340px;
  }
}

.cooperation__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.cooperation_index--background {
  background-color: @basic_grey;
}

.cooperation__inner {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .cooperation__inner {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .cooperation__inner {
    width: 376px;
    height: 201px;
  }
}

@media (min-width: @tablet-width) {
  .cooperation__wrapper {
    position: relative;
    width: 708px;
  }
}

@media (min-width: @tablet-width) {
  .cooperation__map {
    width: 320px;
    margin: 0 auto;
  }
}
