.demo {
  background-color: @basic_grey;
  padding-bottom: 1px;
}

@media (min-width: @tablet-width) {
  .demo {
    margin-left: 2px;
    background: linear-gradient(to bottom, @bg_white 576px, @basic_grey 30px);
  }
}

@media (min-width: @desktop-width) {
  .demo {
    margin-left: 3px;
    background: linear-gradient(to bottom, @bg_white 152px, @basic_grey 30px);
  }
}

.demo__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  font-weight: inherit;
}

@media (min-width: @tablet-width) {
  .demo__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .demo__title {
    margin-left: 1px;
    margin-top: 16px;
    margin-bottom: 133px
  }
}

.demo__text {
  .base_font ();
  padding-top: 3px;
  margin-bottom: 5px;
}

@media (min-width: @tablet-width) {
  .demo__text {
    width: 700px;
    font-family: "Arial",sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-top: 14px;
    margin-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .demo__text {
    width: 436px;
    margin-bottom: 0px;
  }
}

.demo__stats {
  padding: auto 20px;
}

@media (min-width: @tablet-width) {
  .demo__stats {
    width: 708px;
    display: flex;
    flex-direction: row;
    margin-bottom: 74px;
  }
}

@media (min-width: @desktop-width) {
  .demo__stats {
    width: 366px;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 68px;
    margin-left: 0px;
    padding: 0px;
  }
}

.demo__stats-value {
  margin-top: 13px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-weight: inherit;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .demo__stats-value {
    margin-top: 15px;
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: @desktop-width) {
  .demo__stats-value {
    margin-top: 15px;
    margin-left: 1px;
  }
}

.demo__stats-subtitle {
  width: 87px;
  margin-left: 17px;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  background-color: @basic_grey;
}

@media (min-width: @tablet-width) {
  .demo__stats-subtitle {
    font-size: 14px;
    line-height: 14px;
    br {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .demo__stats-item--days .demo__stats-subtitle{
      background-color: @bg_white;
      width: 142px;
      margin-left: 9px;
    }
    .demo__stats-item--weight .demo__stats-subtitle{
      background-color: @bg_white;
      width: 114px;
      margin-left: 22px;
      }
  }

  @media (min-width: @desktop-width) {
    .demo__stats-item--days .demo__stats-subtitle{
        background-color: @basic_grey;
        width: 142px;
        margin-left: 9px;
      }
      .demo__stats-item--weight .demo__stats-subtitle{
        background-color: @basic_grey;
        width: 114px;
        margin-left: 22px;
        }
    }

.demo__caption {
  margin-top: 34px;
  font-size: 14px;
  line-height: 20px;
  font-weight: inherit;
  color: @black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .demo__caption {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 28px;
    margin-left: 126px;
    margin-top: 48px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .demo__caption {
    width: 328px;
    margin-top: 57px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
  }
}

.demo__stats-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.demo__stats-item {
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 54px;
  margin-top: 20px;
  border: 1px solid @special_grey;
  border-radius: 3px;
}

@media (min-width: @tablet-width) {
  .demo__stats-item {
    width: 160px;
    height: 70px;
    margin-top: 40px;
    margin-right: 42px;
  }
}

@media (min-width: @desktop-width) {
  .demo__stats-item {
    height: 70px;
    margin-top: 0px;
    margin-right: 0px;
  }
}

@media (min-width: @desktop-width) {
  .demo__stats-item--weight {
    margin-right: 0px;
    padding: 0px;
  }
}

@media (min-width: @tablet-width) {
  .container-demo__wrapper {
    width: 708px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .container-demo__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


@media (min-width: @desktop-width) {
  .demo__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

