.demo {
  background-color: @neutral_grey;
}

.demo__title {
  font-size: 36px;
  line-height: 40px;
  color: @black;
  font-weight: inherit;
}

.demo__text {
  .base_font ();
}

.demo__stats-value {
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-weight: inherit;
}

.demo__stats-subtitle {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
}

.demo__caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: inherit;
  color: @black;
  text-transform: uppercase;
}
