.demo {
  background-color: @neutral_grey;
}

@media (min-width: @tablet-width) {
  .demo {
    background: @basic_grey-linear;
  }
}

@media (min-width: @desktop-width) {
  .demo {
    margin-bottom: 80px;
    background: linear-gradient(to bottom, #FFFFFF 115px, #F2F2F2 30px);
  }
}

.demo__title {
  font-size: 36px;
  line-height: 40px;
  color: @black;
  font-weight: inherit;
}

@media (min-width: @tablet-width) {
  .demo__title {
    font-size: 60px;
    line-height: 60px;
}
}

@media (min-width: @desktop-width) {
  .demo__title {
    margin-bottom: 150px
}
}

.demo__text {
  .base_font ();
}

@media (min-width: @tablet-width) {
  .demo__text {
    width: 700px;
  }
}

@media (min-width: @desktop-width) {
  .demo__text {
    width: 436px;
  }
}

.demo__stats {
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .demo__stats {
    width: 708px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
  }
}

@media (min-width: @desktop-width) {
  .demo__stats {
    width: 436px;
    margin-top: 100px;
    flex-direction: column;
  }
}

.demo__stats-value {
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-weight: inherit;
}

.demo__stats-subtitle {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
}

.demo__caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: inherit;
  color: @black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .demo__caption {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .demo__caption {
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.demo__illustration--after {
      display: none;
}

  .demo__stats-list {
    display: flex;
    justify-content: space-between;
  }


.demo__stats-item {
    display: flex;
    flex-direction: column;
}

.slider__controls {
  padding-bottom: 30px;
  margin-left: 30px;
}

.demo__progress {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container-demo__wrapper {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .container-demo__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
.demo__progress::before{
    content: " ";
    display: block;
    position: absolute;
    top: -74px;
    left: 552px;
    width: 708px;
    height: 700px;
    background-image: url("../img/content/image_cat_tablet.png");
    background-repeat: no-repeat;
}
}

@media (min-width: @desktop-width) {
  .slider__controls {
    position: relative;
    top: -50px;
    left: 315px;
  }
}

@media (min-width: @desktop-width) {
  .demo__image_fat {
    display: none;
  }
}

