.base_font () {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.pattern_font () {
  font-size: 16px;
  line-height: 18px;
  font-weight: inherit;
}

.pattern_button () {
  font-family: "Oswald", serif;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}

