@bg_white:#FFFFFF;
@basic_grey:#F2F2F2;
@dim_pale_grey:#EBEBEB;
@pallid_grey:#E5E5E5;
@neutral_grey:#EAEAEA;
@neutral_dark_grey:#D9D9D9;
@special_grey:#CDCDCD;
@pale_grey:#E7E7E7;
@special_grey:#CDCDCD;
@pale_grey-neutral:#DCDCDC;
@light_neutral_grey:#D3D3D3;
@light_grey:#BABABA;
@ultra_neutral_grey:#E6E6E6;
@dark_special_grey:#666666;
@deep_special_grey:#444444;
@special_dark-grey:#222222;
@dark_grey:#111111;
@black:#000000;
@bg_black_special:rgba(0,0,0,.23);
@bg_black-neutral_lite:rgba(0, 0, 0, 0.6);
@bg_black_lite-neutral:rgba(17,17,17,.4);
@bg_black_lite:rgba(0, 0, 0, 0.3);
@basic_green:#68B738;
@basic_green-dark:#5EAA2F;
@special_green_gradient:rgba(104, 183, 56, 0.85);
@special_pink:#FF8282;
@basic_grey-linear: linear-gradient(to bottom, #FFFFFF 320px, #F2F2F2 30px);
@bg_white-neutral_lite: rgba(255, 255, 255, 0.6);
@bg_white-lite: rgba(255, 255, 255, 0.3);
// Viewports

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
